.curriculum {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   width: 60rem;
   margin-bottom: 3rem;
   padding: 0 2rem;

   .tab_menu {
      flex: 1;
      width: 100%;

      .title {
         font-size: 2rem;
         padding: 1rem;
      }

      .ul {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-direction: column;
         padding: 0;
         margin: 0;

         .li {
            padding: 1.3rem;
            cursor: pointer;
            transition: all 0.3s ease;
            font-size: 1rem;
            font-weight: 400;
            width: 100%;
            margin: 1rem;
            border: 1px solid #000;
            background-color: #0378a6;
            color: #fff;
            border-radius: 1rem;

            &.active {
               color: #000;
               border-top: 1px solid #000;
               border-left: 1px solid #000;
               border-right: 1px solid #000;
               border-bottom: none;
            }

            &:hover {
               background-color: #93abbf;
            }
         }
      }
   }
}
