.container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 2rem;
   height: 25rem;
   overflow: hidden;
   margin-top: 2rem;
}

.main {
   max-width: 87.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 0.5rem;
}

.item {
   border-radius: 0.5rem;
}

.items {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 1rem;
}

.title {
   font-size: 1.2rem;
   text-align: center;
}

.date {
   font-size: 1.2rem;
   text-align: center;
}
