.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   margin: 2rem 0;
   overflow: hidden;
   position: relative;
   width: 100%;
}

.main {
   width: 20rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 0.5rem;
   animation: scroll-animation 30s linear infinite forwards;
   margin: 0 2rem;
}

.item {
   cursor: pointer;
   border-radius: 0.5rem;
}

.items {
   width: 20rem;
   height: 100%;
   display: flex;
   justify-content: space-evenly;
   margin: 0 5.5rem;
   padding: 1rem;
   text-align: center;
}

.title {
   font-size: 0.8rem;
}

.date {
   font-size: 0.8rem;
}

@keyframes scroll-animation {
   0% {
      transform: translate3d(0, 0, 0);
   }
   100% {
      transform: translate3d(calc(-20rem * 7), 0, 0);
   }
}
