.container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   gap: 3rem;
   overflow: hidden;
   margin: 2rem 0;
}

.main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 0.5rem;
   transform: translateX(180deg);
}

.item {
   cursor: pointer;
   border-radius: 0.5rem;
}

.items {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   gap: 6rem;
   padding: 1rem;
   text-align: center;
}

.title {
   font-size: 0.8rem;
}

.date {
   font-size: 0.8rem;
}
