@import '../../../scss/styles.scss';
.container {
   padding: 2.5rem;

   .filterButtons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      width: 100%;
      height: 100%;
      padding: 3rem;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      button {
         font-size: 1rem;
         border: 1px solid;
         color: #fff;
         padding: $sm $xl;
         background-color: #93abbf;
         border-radius: 0.5rem;

         &:hover {
            background-color: #fff;
            color: #4c4c4c;
            border: 1px solid #93abbf;
         }
         &.active {
            background-color: #fff;
            color: #333;
         }
      }
   }

   .course {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: $xl;
      padding-top: 4rem;

      .courses {
         position: relative;
         width: calc(25% - $xl);
         display: flex;
         flex-direction: column;
         border-radius: 1rem;
         text-align: center;
         cursor: pointer;
         box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
         border: 1px solid transparent;

         &:hover {
            border: 1px solid hsla(207, 26%, 66%, 0.216);
         }

         .crs__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 12.5rem;
            border-radius: 1rem 1rem 0 0;
            transition: 0.3s ease-in-out;
            position: relative;
         }

         div {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
               text-decoration: underline;
            }
         }

         span {
            position: absolute;
            top: 1rem;
            left: 1rem;
            padding: 0.3rem;
            border-radius: 0.5rem;
            color: #fff;
            background-color: yellowgreen;
         }

         p {
            width: 100%;
            padding: 1rem;
            text-align: center;
            font-size: $sm;
         }
      }
   }
   .showMore {
      margin: 1.5rem auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 3rem;
      text-align: center;
      background-color: #93abbf;
      border: 1px solid;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      color: #fff;
      font-size: 1rem;
      padding: 1rem;
      cursor: pointer;
   }
}

@media screen and (max-width: 768px) {
   .container {
      padding: 2rem;

      .filterButtons {
         gap: 1rem;
         padding: 1.5rem;
      }

      .course {
         width: 100%;
         padding-top: 1rem;

         .courses {
            width: calc(25% - 1.5rem);

            .crs__image {
               height: 7.5rem;
            }
            div {
               p {
                  font-size: 8px;
               }
            }
         }
      }

      .showMore {
         height: 3rem;
         font-size: 0.8rem;
         padding: 0 1rem;
      }
   }
}

@media screen and (max-width: 375px) {
   .container {
      padding: 1rem;
      .filterButtons {
         width: 100%;
         font-size: 0.875rem;
         gap: 0.5rem;

         button {
            font-size: $reg;
            padding: 0.8rem;
         }
      }

      .course {
         flex-direction: column;
         align-items: center;
         gap: 2rem;
         padding-top: 1.5rem;
         width: 100%;
         height: 100%;

         .courses {
            width: 20rem;
            height: 12rem;
            justify-content: center;
            align-items: center;

            .crs__image {
               width: 20rem;
               height: 160px;
               text-align: center;
            }
            div {
               p {
                  font-size: $sm;
               }
            }
         }

         .showMore {
            width: 3rem;
            height: 1.5rem;
            font-size: $xxl;
         }
      }
   }
}
