.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 2.5rem;
   height: 100%;
   padding: 2rem;
   margin: 0 auto;
}

.courses {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 18rem;
   text-align: center;
   cursor: pointer;
   margin: auto;

   .crs__image {
      width: 16rem;
      border-radius: 2rem;
      transform: scale(1);
      transition: 0.3s ease-in-out;
      margin-bottom: 0.625rem;

      &:hover {
         transform: scale(0.9);
      }
   }

   p {
      padding: 0.5rem;
      font-size: 0.8rem;
   }
}

.show__more {
   background-color: #93abbf;
   border: 1px solid;
   border-radius: 0.5rem;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   color: #fff;
   margin: auto;
   font-size: 1rem;
   padding: 0.8rem 1.5rem;
   text-align: center;
   cursor: pointer;
   transition: all 0.2s ease-in-out;

   &:hover {
      background-color: #fff;
      color: #4c4c4c;
      border: 1px solid #93abbf;
   }
}
