@import '../../scss/styles.scss';

.footer {
  @include set-center;
  background-color: $navColor;
  color: $lightFontColor;
  padding: 20px;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 140px;
  z-index: -1;
  .container {
    margin: {
      left: 10px;
      right: 40px;
    }
    line-height: 1.5;
    .title {
      font: {
        size: 11px;
        weight: 500;
      }
      margin-bottom: 3px;
    }
    .contents {
      font: {
        size: 11px;
        weight: 300;
      }
      a {
        font: {
          weight: 300;
          size: 11px;
        }
      }
    }
  }
}
