@import '../../scss/styles.scss';

.header {
  width: 100vw;
  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid $borderColor;
  z-index: 100;
  position: fixed;
  background-color: white;
  .container {
    display: flex;
    max-width: $maxWidth;
    height: 100%;
    align-items: center;
    .nav {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      .navLeft {
        display: flex;
        margin: 0 20px;
        font-size: 16px;
        li {
          margin-right: 20px;
          letter-spacing: 3px;
        }
      }
      .navRight {
        display: flex;
        > li {
          margin: 0 5px;
          @include set-navButton;
        }
        .signup {
          background-color: $buttonColor;
        }
      }
    }
  }
}
