@import '../../scss/styles.scss';

.header {
  width: 100vw;
  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid $borderColor;
  z-index: 100;
  .container {
    display: flex;
    max-width: 1400px;
    height: 100%;
    align-items: center;
    .nav {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      .navLeft {
        letter-spacing: 8px;
        margin: 0 20px;
      }
      .navRight {
        span {
          margin: 0 5px;
          .login {
            @include set-navButton;
          }
          .signup {
            @include set-navButton;
          }
        }
      }
    }
  }
}
