@import '../../scss/styles.scss';

.header {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid $beige2;
  z-index: 100;
  position: fixed;
  background-color: white;
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    .nav {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      .navLeft {
        display: flex;
        margin: 0 20px;
        font: {
          size: $lg;
          weight: 600;
        }
        li {
          margin-right: 25px;
          letter-spacing: 3px;
          &:first-child {
            margin-left: 30px;
            letter-spacing: 10px;
          }
        }
      }
      .navRight {
        display: flex;
        > li {
          margin: 0 5px;
          @include set-navButton;
        }
        .signup {
          border: none;
          background-color: $navy1;
          color: white;
        }
        .logout {
          cursor: pointer;
        }
      }
    }
  }
}
