@import '../scss/styles.scss';

.container {
  @include set-center;
  width: 100vw;
  height: 100vh;
  padding: 6.25rem;
  background-color: $beige1;
  > h1 {
    color: #e94560;
    margin-bottom: 1.25rem;
    font: {
      size: $xxl;
      weight: 800;
      family: $engFont;
    }
  }
  > .content {
    @include set-center;
    color: #533483;
    margin: 20px 0;
    font: {
      size: $lg;
    }
  }
  .error {
    width: 80%;
    text-align: center;
    margin: 1.25rem 0;
    font: {
      size: $reg;
      weight: 200;
    }
  }
  .goToMain {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0;
    color: $navy2;
    text-align: center;
    font: {
      size: $reg;
      weight: 500;
    }
  }
}
