@import '../scss/styles.scss';

.userMenu {
  position: relative;
}
ul.popup {
  background-color: white;
  position: absolute;
  top: calc(100% + 25px);
  right: -5px;
  box-shadow: 1px 1px 6px;
  border-radius: 5px 0 5px 5px;
  overflow: hidden;
  width: 100px;
  li {
    padding: 16px;
    border-bottom: 1px solid $borderColor;
    &:hover {
      background-color: $borderColor;
    }
  }
}
