@import '../../scss/styles.scss';
body {
  background-color: #fcfcfc;
}
.review {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px;
  margin: 20px 0;
  border: 1px solid $beige1;
  border-radius: 5px;
  width: 100%;
  background-color: white;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    > h1 {
      font-size: 1rem;
    }
  }
  .time {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    > p {
      margin-right: 10px;
      font: {
        weight: 200;
        size: 0.75rem;
      }
    }
  }
  .nickname {
    font: {
      size: 1.125rem;
      weight: 500;
    }
    margin-bottom: 4px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.reviews {
  max-width: 800px;
}
