@import '../../scss/styles.scss';

.container {
  @include set-center;
  justify-content: center;
  position: relative;
  margin: 30px;
  h1 {
    font: {
      size: 2rem;
      weight: bold;
    }
  }
  .reviewForm {
    margin: 20px 0;
    padding: 10px 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eeeae1;
    @include set-center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .courses {
      // display: flex;
      margin: 20px 0;
      > .courseName {
        font-size: 1.125rem;
        padding: 5px 10px;
        appearance: none;
        border-radius: 4px;
        border: 1px solid #eeeae1;
        padding: 10px 15px;
        background-color: #f7f7f5;
        cursor: pointer;
        .option {
          background-color: white;
          border-bottom: #ddd0b6;
        }
      }
    }
    .content {
      padding: 20px;
      margin: 20px 50px;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid #f4ebe4;
    }
    > button {
      border-radius: 5px;
      background-color: #eeeae1;
      font-size: 1.125rem;
      padding: 10px 20px;
      margin-bottom: 20px;
      color: rgb(63, 63, 63);
      &:hover {
        border: 1px solid #ddd0b6;
      }
    }
  }
}
