@import '../../scss/styles.scss';

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // position: relative;
  // width: 100%;
  // height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  &.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.3s;
  }
  button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  > section {
    width: 90%;
    max-width: 450px;
    border-radius: 5px;
    background-origin: white;
    animation: modal-show 0.3s;
    overflow: hidden;
    > header {
      position: relative;
      padding: 16px 64px 16px 16px;
      background-color: $ivory1;
      font-weight: 700;
      button {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        font: {
          size: 21px;
          weight: 700;
        }
        text-align: center;
        color: $gray2;
        background-color: transparent;
      }
    }
    > main {
      padding: 16px;
      border-bottom: 1px solid #dee2e6;
      border-top: 1px solid #dee2e6;
    }
    > footer {
      padding: 16px;
      border-bottom: 1px solid #dee2e6;
      border-top: 1px solid #dee2e6;
      button {
        padding: 6px 12px;
        color: white;
        background-color: #6c757d;
        border-radius: 5px;
        font-size: $sm;
      }
    }
  }
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
