@import '../scss/styles.scss';

.body {
  padding-top: 70px;
  position: relative;
  max-width: $maxWidth;
  min-height: calc(100vh - 140px);
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  white-space: pre-wrap;
}
