/* color */
$navy1: #0378a6;
$navy2: #033c61;
$blue1: #93abbf;
$blue2: #768ba6;
$gray1: #dbdee3;
$gray2: #afb0b4;
$ivory1: #f7f7f5;
$ivory2: #eeeae1;
$beige1: #f4ebe4;
$beige2: #e0d3ca;

/* font */
$korFont: 'Noto Sans KR';
$engFont: 'Montserrat', sans-serif;
$HeadFont: 'IBM Plex Sans';

/* size */
$maxWidth: 1400px;

$sm: 0.75rem; // //12px, 날짜, weight:300
$reg: 1rem; // 16px, 내용
$lg: 1.125rem; //18px
$xl: 1.5rem; // 24px, 강조, weight: 500
$xxl: 2rem; // 32px, 제목, weight: 700

/* mixin */
@mixin set-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin set-navButton {
  border: 1px solid $blue1;
  border-radius: 20px;
  padding: 8px 13px;
  text-align: center;
  font-family: $engFont;
}
