/* color */

$lightFontColor: #f7f7f5;
$logoColor: #0378a6;
$buttonColor: #dbdee3;
$borderColor: #e0d3ca;
$navColor: #033c61;
$footerColor: #757575;
/* font */
$korFont: 'Noto Sans KR';
$engFont: 'Montserrat', sans-serif;

/* size */
$maxWidth: 1400px;

/* mixin */

@mixin set-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin set-navButton {
  border: 2px solid $buttonColor;
  border-radius: 5px;
  padding: 8px 13px;
  color: $navColor;
  text-align: center;
  font-family: $engFont;
}
