@import '../../../../scss/styles.scss';
.container {
   background-color: #0378a6;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 25rem;

   .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      width: 100%;
      height: 25rem;

      .banner__info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         border-left: 1px solid rgba(204, 204, 204, 0.278);
         color: #fff;
         width: 30rem;

         h3 {
            font-size: $xl;
            padding: 0 $sm;
         }
         p {
            font-size: $reg;
            padding: $sm;
         }

         .banner_btn {
            background-color: #93abbf;
            width: 15rem;
            padding: 0.5rem;
            font-size: $xl;
            cursor: pointer;
            border-radius: 0.5rem;
            margin-top: 2rem;

            &:hover {
               background-color: #6e7378;
            }
         }
      }

      .banner__image {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 30rem;
         height: 100%;

         .banner__img {
            width: 100%;
            height: 22.5rem;
            border-radius: $reg;
         }
      }
   }

   .modal {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.648);
      z-index: 9999;

      .modal__content {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         background-color: #fff;
         color: #333;
         padding: 3rem;
         border-radius: 0.5rem;
         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
         gap: $reg;

         h2 {
            font-size: $xl;
         }

         p {
            font-size: $reg;
            padding: 0.3rem;
         }
         a {
            width: 100%;
         }
         button {
            font-size: $reg;
            font-weight: 600;
            width: 100%;
            border: 1px solid #0378a6;
            color: #0378a6;
            padding: 0.4rem;

            &:hover {
               background-color: #6e7378;
               color: #fff;
            }
         }

         form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
         }
      }

      .modal__footer {
         display: flex;
         justify-content: flex-end;
         margin-top: 2rem;

         button {
            border: 1px solid #000;
            margin-left: $reg;
         }
      }
   }
}
