@import '../../scss/styles.scss';

.wrapper {
  @include set-center;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 100vh;
  margin: 0 auto;
  .container {
    width: 100%;
    @include set-center;
    .form {
      @include set-center;
    }
  }
}
