@import '../../scss/styles.scss';

.container {
  @include set-center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 100vh;
  margin: 0 auto;
  .wrapper {
    width: 100%;
    margin-top: 30px;
    @include set-center;
    p span {
      color: $navy1;
      font-weight: 500;
    }
    .form {
      @include set-center;
      width: 100%;
      height: 100%;
      .inputWrapper {
        @include set-center;
        width: 100%;
        .inputBox {
          width: 100%;
          display: flex;
          align-items: center;
          .icon {
            margin-left: -30px;
            margin-right: 10px;
            font-size: 1.25rem;
            color: $gray2;
          }
          input {
            padding: 0 8px;
            margin: 10px 0;
            width: 100%;
            height: 45px;
            border: 2px solid $blue1;
            border-radius: 7px;
          }
        }
      }
      button {
        width: 90%;
        height: 48px;
        margin-top: 30px;
        background-color: $blue2;
        color: white;
        font-size: 1rem;
        border-radius: 5px;
        &:active {
          opacity: 0.7;
        }
      }
    }
    .divider {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 25px 0;
      div {
        width: 100%;
        border-bottom: 1px solid $blue1;
      }
      span {
        margin: 0 15px;
      }
    }
    .snsLogin {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      > button {
        border-radius: 100%;
        // padding: 5px;
        width: 40px;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .link {
          position: absolute;
          width: 60%;
          height: 60%;
          > .sns {
            width: 100%;
            height: 100%;
          }
        }
      }
      .kakao {
        color: #32130b;
        background-color: #ffe312;
      }
      .github {
        color: black;
        background-color: lighten(black, 95%);
      }
      .google {
        background-color: #fff3f2;
      }
    }
  }
}
