@import '../../scss/styles.scss';

.container {
  @include set-center;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 100vh;
  margin: 0 auto;
  .wrapper {
    width: 100%;
    margin-top: 30px;
    @include set-center;
    p span {
      color: $navy1;
      font-weight: 500;
    }
    .form {
      @include set-center;
      .inputWrapper {
        @include set-center;
        width: 300px;
        .inputBox {
          width: 100%;
          display: flex;
          align-items: center;
          .icon {
            margin-left: -35px;
            margin-right: 15px;
            font-size: 1.4375rem;
            color: #afb0b4;
          }
          input {
            padding: 0 8px;
            margin: 5px 0;
            width: 100%;
            height: 45px;
            border: 2px solid $blue1;
            border-radius: 7px;
          }
        }
      }
      .error {
        color: red;
        font: {
          size: 0.6875rem;
          weight: 300;
        }
        margin-bottom: 0.625rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      button {
        width: 90%;
        height: 48px;
        background-color: $navy2;
        color: white;
        margin-top: 30px;
        font-size: 1rem;
        border-radius: 5px;
        &:active {
          opacity: 0.7;
        }
      }
    }
  }
}
