@import '../../scss/styles.scss';

.wrapper {
  @include set-center;
  position: absolute;
  top: 30%;
  .container {
    width: 795px;
    @include set-center;
    .form {
      @include set-center;
    }
  }
}
